<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Somehow needed by Firebase for reliable local dispatching on non-Google Play devices -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Required to install update packages when targeting API 25 or higher -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Required to run keep-alive service when targeting API 28 or higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Required to install update packages when targeting API 29 or higher -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- Required to fire notifications when targeting API 33 or higher -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".core.HentoidApp"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/Theme.Light"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:supportsRtl, android:extractNativeLibs">

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name=".activities.MissingWebViewActivity"
            android:exported="false"
            android:label="@string/missing_web_view"
            android:noHistory="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_intro" />
        <activity
            android:name=".activities.sources.XhamsterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.XnxxActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.PornPicsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.JpegworldActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.NextpicturezActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.HellpornoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.PornPicGalleriesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.Link2GalleriesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.RedditActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.RedditLaunchActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.JjgirlsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.Jjgirls2Activity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.BabeTodayActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.LusciousActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.FapalityActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.sources.AsianSisterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.LibraryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_downloads"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.QueueActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_queue"
            android:parentActivityName=".activities.LibraryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.PrefsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.LibraryActivity"
            android:theme="@style/Theme.Light.Prefs"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.ToolsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.LibraryActivity"
            android:theme="@style/Theme.Light.Prefs"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activities.LibraryActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>
        <activity
            android:name=".activities.DrawerEditActivity"
            android:label="@string/title_activity_drawer_edit"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.DuplicateDetectorActivity"
            android:label="@string/title_activity_duplicate_detector"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.UnlockActivity"
            android:noHistory="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PinPreferenceActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MetadataEditActivity"
            android:label="@string/title_activity_meta_edit"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.RenamingRulesActivity"
            android:label="@string/title_activity_rules"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.StoragePreferenceActivity"
            android:label="@string/title_activity_storage"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.IntentActivity"
            android:exported="true"
            android:theme="@style/Theme.Invisible">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xhamster.com"
                    android:pathPrefix="/photos"
                    android:scheme="https" />
                <data
                    android:host="www.nhentai.net"
                    android:pathPrefix="/g/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="multi.xnxx.com"
                    android:pathPrefix="/gallery"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pornpics.com"
                    android:pathPrefix="/galleries"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jpegworld.com"
                    android:pathPrefix="/galleries"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="nextpicturez.com"
                    android:pathPrefix="/gallery"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="young-whores.net"
                    android:pathPrefix="/gallery"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hellporno.com"
                    android:pathPrefix="/albums"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jjgirls.com"
                    android:pathPattern="/..*/..*/..*/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="www.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="members.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
                <data
                    android:host="www.members.luscious.net"
                    android:pathPattern="..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fapality.com"
                    android:pathPattern="/photos"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="asiansister.com"
                    android:pathPattern="/view_"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jjgirls.com"
                    android:pathPattern="/pornpics/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/artworks/..*"
                    android:scheme="https" />
                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/user/..*/series/..*"
                    android:scheme="https" />
                <data
                    android:host="pixiv.net"
                    android:pathPattern="/..*/users/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/artworks/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/user/..*/series/..*"
                    android:scheme="https" />
                <data
                    android:host="www.pixiv.net"
                    android:pathPattern="/..*/users/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="manhwa18.com"
                    android:pathPattern="/manga/..*"
                    android:scheme="https" />
                <data
                    android:host="manhwa18.com"
                    android:pathPattern="/manga/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="multporn.net"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.simply-hentai.com"
                    android:pathPattern="/..*/..*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hdporncomics.com"
                    android:pathPattern="/..*/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="edoujin.net"
                    android:pathPattern="/manga/..*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ReaderActivity$ReaderActivityMulti"
            android:label="Image Viewer"
            android:theme="@style/Theme.Light.Monochrome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>

        <activity
            android:name=".activities.ReaderActivity"
            android:label="Image Viewer"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Light.Monochrome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LibraryActivity" />
        </activity>

        <!-- Services -->

        <service android:name=".services.UpdateCheckService" />

        <!-- Receivers -->

        <receiver android:name=".receiver.DownloadNotificationDeleteReceiver" />

        <receiver android:name=".receiver.ArchiveNotificationSuccessReceiver" />

        <receiver android:name=".receiver.DownloadNotificationPauseReceiver" />

        <receiver android:name=".receiver.DuplicateNotificationStopReceiver" />

        <receiver android:name=".receiver.AppUpdateDownloadReceiver" />

        <!-- Providers -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.FileProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="50ca85b53f91d01825ed7b8fea4ecd30134f448c" />
    </application>

</manifest>
